
.icon-heart:before { content: '\e800'; } /* '' */
.icon-headphones:before { content: '\e801'; } /* '' */
.icon-headphones-1:before { content: '\e802'; } /* '' */
.icon-facebook-circled:before { content: '\e803'; } /* '' */
.icon-twitter-circled:before { content: '\e804'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-play-circled:before { content: '\f144'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
